 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap');
 /* font-family: 'Inter', sans-serif; TITULO 80PX SUBTITULO 40PX */
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
  /* font-family: 'Inter', sans-serif; TEXTO  */
  *,
*::before,
*::after{
    margin: 0;
    padding: 0;
}
body{
    max-width: 1500px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif; 
}
.container{
    width: 100%;
    margin: 0 auto;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.container_list{
    color: black;
    padding: 15px;
    list-style: none; 
    display: flex;
    gap: 30px;
    justify-content: end;
}
.container_list a{
    text-decoration: none;
    color: #222222;
    padding: 32px;
}
.container_list a:hover{
    cursor: pointer;
    color: #8E7BEF;
}
.header__btn {
    display: none;
}
.container_home{
    display: flex; 
    flex-direction: row;
    padding: 50px;
    gap: 10px 10px;
  }
.container_home .home_1{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}
.container_titulo{
    font-size: 80px;
    color: #222222;
}
.parrafo_1{
    font-size: 24px; 
    margin-top: 20px;
    color: #222222;
}  
.parrafo_2{
    font-size: 18px; 
    margin-top: 20px;
    color: #423F40;
}
.section{
    color: #8E7BEF;
}
.iconos{
    color: black;
    padding: 15px;
    list-style: none; 
    display: flex;
    gap: 30px;
    flex-direction: row;
}
.iconos *{
    background-color: #8E7BEF;
    width: 24px;
    height: 24px;
    border-radius: 100%;
}
.iconos a:hover {
    cursor: pointer;
    transform: scale(1.1);
    filter: brightness(1.25);
    transition: transform .25s linear;
}
.imagen_movil{
    display: none;
}
.container_home button{
    width: 50%;
    padding: 10px;
    border: none;
    color: white;
    background-color: #8E7BEF;
    font-size: 18px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    transition: transform .25s linear;
}
.descripcion_bt a{
    text-decoration: none;
}
.container_home button::before {
    content: '';
    background: url(./img/letter.png)no-repeat;
    background-size: contain;
    width: 23px;
    height: 23px;
    align-items: center;
    display: block;
}
.container_home button:hover {
    cursor: pointer;
    transform: scale(1.1);
    filter: brightness(1.25);
    transition: transform .25s linear;
}
#experiencias {
    background-color: #FCDA68 ;
    height: 620px;
}
.container_experiencias{
    display: flex; 
    flex-direction: row;
    padding: 50px;
    gap: 10px 10px;
}
.container_experiencias .experiencias_1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    margin-top: 20px;
}
.container_titulo2{
    font-size: 40px;
    width: 50%;
}
.parrafo_3 {
    font-size: 18px; 
    margin-top: 20px;
    color: #423F40;
    width: 85%;
}
.subtitulo{
    font-size: 24px;
}
.tabla{
    display: flex;
    flex-direction: row;
    font-size: 18px;
    padding: 15px;
}
.tabla_1{
    width: 30%;
    margin-top: 10px;
}
.tabla_2{
    width: 60%;
    margin-top: 10px;
}
.p1{
    color: #423F40;
}
.subtitulo2 {
    font-size: 24px;
    padding: 50px;
    margin-bottom: 0;
}
.imagenes_1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
    align-items: center;
    margin: 0 auto;
    gap: 40px;
    font-size: 18px;
    color: #423F40;
}
.imagenes_1 figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 120px;
    justify-content: space-between;
}
.image{
    width: 30px;
    height: 30px ;
}
.figcaption{
    text-align: center;
}
.titulo_porta{
    font-size: 40px;
    padding: 50px;
    padding-bottom: 10px;
}
.container_portafolio{
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    margin: 0 auto;
}
.container_portafolio .imagenes_porta{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.sub{
    color: #8E7BEF;
    padding-bottom: 15px;
}
#contacto{
    height: 350px;
}
.titulo_contac{
    font-size: 40px;
    padding: 50px;
    padding-bottom: 10px;
}
.container_contacto{
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 60%;
    gap: 10px;
    margin: 0 auto;
}
.container_contacto .contacto_1{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.contacto_1 figure{
    background-color: #F9F5F2;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
}
.contacto_1 .Image_1{
    padding: 20px;
    width: 40px;
    height: 40px;
}
.contacto_1 h4{
    color: #423F40;
    padding: 15px;
}
.contacto_1 p{
    font-size: 12px;
    color: #423F40;
}
@media (max-width: 700px) {
.container_list{
    display: none;
}
.header__nav {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    height: 30px;
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 83%;
    margin: 0 auto;
}
.container_list{
    position: absolute;
    display: flex;
    flex-direction: column;
    list-style: none;
    top: 50px;
    justify-content: center;
    align-items: center;
    right: 0;
    transition: right .5s linear;
    border: 1px solid #8E7BEF;
    background-color: white
}
.container_list.active {
    right:-100%;
    transition: right .5s linear;
}
.container_list a {
    color: black;
    text-decoration: none;
    padding: 5px;
    border-bottom: 1px solid #8E7BEF;
}
.header__btn {
    display: block;
    height: fit-content;
    background-color: transparent;
    border: none;
}
.container_home{
    display: flex; 
    flex-direction: column;
    padding: 20px;
    gap: 10px 10px;
    width: 89%;
  }
  .container_home .home_1{
    width: 95%;
        margin: 0 auto;
  }
  .container_titulo{
    font-size: 50px;
    margin: 0 auto;
    width: 100%;
    margin-top: 20px;
}
.parrafo_1{
    font-size: 20px;
    margin: 0 auto;
    margin-top: 20px;
}  
.parrafo_2{
    font-size: 16px; 
    margin: 0 auto;
    margin-top: 20px;
}
.iconos {
    margin: 0 auto;
}
.imagen_movil{
    display: block;
    margin: 0 auto;
    width: 70%;
}

.container_home button{
    margin: 0 auto;
    width: 70%;
}
.container_imagen{
    display: none;
}
#experiencias {
    height: 1000px;
}
.container_experiencias{
    display: flex; 
    flex-direction: column;
    padding: 20px;
    gap: 10px 10px;
}
.container_experiencias .experiencias_1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}
.tabla_2{
    width: 70%;
}
.container_titulo2{
    font-size: 32px;
    width: 80%;
}
.parrafo_3 {
    font-size: 16px; 
    margin-top: 20px;
    width: 95%;
}
.subtitulo{
    font-size: 20px;
}
.subtitulo2 {
    font-size: 20px;
    padding: 20px;
    margin-bottom: 0;
}
.imagenes_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    align-items: center;
    margin: 0 auto;
    gap: 10px;
    font-size: 16px;
    color: #423F40;
}
.titulo_porta{
    font-size: 32px;
    padding: 20px;
}
.container_portafolio{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
#contacto{
    height: 450px;
}
.titulo_contac{
    font-size: 32px;
    padding: 20px;
    padding-bottom: 10px;
}
.container_contacto{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    margin: 0 auto;
}
}